@import url(style.css);
@import url(media.css);
* {
  margin: 0;
  padding: 0;
}

/*홈페이지 전체 코드 부분*/
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #ffffff;
  height: 100%;
}
/*홈페이지의 맨 윗부분 코드 시작*/
#main_header {
  height: 100px;
  background-color: #ffffff;
  position: relative;
}

#main_logo {
  position: absolute;
  /*절대 위치 좌표 설정*/
  line-height: 100px;
  /*속성값 = header의 높이로 지정해서 수직 가운데 정렬*/
  margin-left: 100px;
  /*왼쪽 마진 크기 지정*/
  margin-top: 15px;
}

#main_menu {
  margin-top: 70px;
  margin-bottom: 50px;

  text-align: center;
  padding: 1em 0px;
  word-spacing: 60px;
}
.menu {
  font-size: 20px;
}

.menu > a {
  text-decoration: none;
  color: #000000;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
li {
  display: inline;
  margin-left: 30px;
}

/*여기까지 홈페이지 윗부분 로고&메뉴 코드*/

.search {
  height: 40px;
  width: 600px;
  border: 7px solid #6fc5ff;
  background: #ffffff;
  margin: 20px auto;
  display: block;
}


.input_text {
  font-size: 16px;
  width: 525px;
  border: 0px;
  outline: none;
  margin: 10px;
  height: 0 auto;
}
.input_button_div {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin-left: 28%;
  margin-top: -6%;
}
.input_button {
  border: none;
  text-align: center;
  text-decoration: none;
  background: #4cb7ff;
  cursor: pointer;
  padding: 0.8rem 1.3rem;
  background-image: url("/static/image/searchicon.png");
  background-repeat: no-repeat;
  background-size: 80% 80%;
  background-position: 3px 3px;
}
/*여기까지 홈페이지 윗부분 로고&메뉴 코드*/
#all_content {
  height: auto;
  min-height: 100%;
  padding-bottom: 26px;
}

#main_content {
  margin: 0px auto;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  padding: auto;
  position: relative;
}

#main_bottom {
  clear: both;
  background-color: #333333;
  color: white;
  width: 100%;
  text-align: center;
  height: 26px;
  position: relative;
  padding: 1em 0px;
  left: 0;
  bottom: 0;
  transform: translateY(-100%);
}

.bottom {
  display: inline;
  word-spacing: 100px;
}

.modal_wrap {
  display: none;
  width: 500px;
  height: 200px;
  position: absolute;
  top: 90%;
  left: 50%;
  margin: -250px 0 0 -250px;
  border: 7px solid #b4e1ff;
  background: #e9f6ff;
  font-weight: 600;
  border-radius: 20px;
  z-index: 2;
  text-align: center;
}

.modal_close {
  width: 26px;
  height: 26px;
  position: absolute;
  top: 3px;
  margin-right: 3px;
  right: 0;
  color: #000000;
}

.modal_close > a {
  display: block;
  width: 100%;
  height: 100%;
  background: url(https://img.icons8.com/metro/26/000000/close-window.png);
  text-indent: -9999px;
}

#aaa {
  color: #000000;
}
/* 여기까지 개발자 이름 */

.modal_wrap1 {
  display: none;
  width: 500px;
  height: 200px;
  position: absolute;
  top: 90%;
  left: 50%;
  margin: -250px 0 0 -250px;
  border: 7px solid #b4e1ff;
  background: #e9f6ff;
  font-weight: 600;
  border-radius: 20px;
  z-index: 2;
  text-align: center;
}

.modal_close1 {
  width: 26px;
  height: 26px;
  position: absolute;
  top: 3px;
  margin-right: 3px;
  right: 0;
  color: #000000;
}

.modal_close1 > a {
  display: block;
  width: 100%;
  height: 100%;
  background: url(https://img.icons8.com/metro/26/000000/close-window.png);
  text-indent: -9999px;
}
/* 여기까지 개발자 이메일 */

.modal_wrap2 {
  display: none;
  width: 500px;
  height: 200px;
  position: absolute;
  top: 90%;
  left: 50%;
  margin: -250px 0 0 -250px;
  border: 7px solid #b4e1ff;
  background: #e9f6ff;
  font-weight: 600;
  border-radius: 20px;
  z-index: 2;
  text-align: center;
}

.modal_close2 {
  width: 26px;
  height: 26px;
  position: absolute;
  top: 3px;
  margin-right: 3px;
  right: 0;
  color: #000000;
}

.modal_close2 > a {
  display: block;
  width: 100%;
  height: 100%;
  background: url(https://img.icons8.com/metro/26/000000/close-window.png);
  text-indent: -9999px;
}
/* 여기까지 이용약관 */

.modal_wrap3 {
  display: none;
  width: 500px;
  height: 200px;
  position: absolute;
  top: 90%;
  left: 50%;
  margin: -250px 0 0 -250px;
  border: 7px solid #b4e1ff;
  background: #e9f6ff;
  font-weight: 600;
  border-radius: 20px;
  z-index: 2;
  text-align: center;
}

.modal_close3 {
  width: 26px;
  height: 26px;
  position: absolute;
  top: 3px;
  margin-right: 3px;
  right: 0;
  color: #000000;
}

.modal_close3 > a {
  display: block;
  width: 100%;
  height: 100%;
  background: url(https://img.icons8.com/metro/26/000000/close-window.png);
  text-indent: -9999px;
}
/* 여기까지 개인정보처리방침 */

#insert_db {
  background-color: black;
  color: white;
  padding: 0.6rem 2rem;
  font-size: 15px;
}

#gae_num {
  border: 0;
  outline: 0;
  width: 10%;
  background-color: aliceblue;
  text-align: center;
}
#gae_title {
  border: 0;
  outline: 0;
  background-color: aliceblue;
  width: 59%;
  text-align: center;
}
#gae_writer {
  background-color: aliceblue;
  display: inline-block;
  width: 10%;
  text-align: center;
}
#gae_date {
  width: 19.4%;
  background-color: aliceblue;
  display: inline-block;
  text-align: center;
}
