* {
  margin: 0;
  padding: 0;
}

/*홈페이지 전체 코드 부분*/
body {
  background-color: #ffffff;
}

/*홈페이지의 맨 윗부분 코드 시작*/
#main_header {
  height: 100px;
  background-color: #ffffff;
  position: relative;
}

/*header 부분의 a 태그, 현재 로고부분 지정*/
#main_header a {
  text-decoration: none;
  /*목록 태그 스타일 (점같은거), a태그의 밑줄 없앰*/
  color: #000000;
  /*글자 색 지정*/
}

#main_logo {
  position: absolute;
  /*절대 위치 좌표 설정*/
  line-height: 100px;
  /*속성값 = header의 높이로 지정해서 수직 가운데 정렬*/
  margin-left: 100px;
  /*왼쪽 마진 크기 지정*/
  margin-top: 15px;
}

#main_menu {
  margin-top: 70px;
  margin-bottom: 50px;
  text-align: center;
  padding: 1em 0px;
  word-spacing: 60px;
}
.menu {
  font-size: 20px;
}

.menu > a {
  text-decoration: none;
  color: #000000;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
li {
  display: inline;
  margin-left: 30px;
}

/*여기까지 홈페이지 윗부분 로고&메뉴 코드*/

.search {
  height: 40px;
  width: 600px;
  border: 7px solid #6fc5ff;
  background: #ffffff;
  margin-left: 450px;
  margin-bottom: 20px;
}

.input_text {
  font-size: 16px;
  width: 525px;
  border: 0px;
  outline: none;
  margin: 10px;
  height: 0 auto;
}
.input_button_div {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin-left: 28%;
  margin-top: -6%;
}
.input_button {
  border: none;
  text-align: center;
  text-decoration: none;
  background: #4cb7ff;
  cursor: pointer;
  padding: 0.8rem 1.3rem;
  background-image: url("/static/image/searchicon.png");
  background-repeat: no-repeat;
  background-size: 80% 80%;
  background-position: 3px 3px;
}

#main_content {
  display: flex;             /* Flexbox로 변경 */
  justify-content: space-between;  /* 좌우 간격 자동 조정 */
  align-items: flex-start;   /* 세로 위쪽 정렬 */
  margin: 2% 10%;
  gap: 40px;                 /* 요소 간 간격 */
}

#news_content {
  background-color: #ffffff63;
  margin-left: 40px;
  margin-right: 40px;
  border-radius: 10px;
}

#box_story {
  background-color: #6fcfff;
  width: 65%;                 /* 고정 width 대신 퍼센트로 지정 */
  min-width: 600px;           /* 너무 작아지는 것 방지 */
  height: 500px;
  color: white;
  font-weight: bold;
  text-align: center;
  z-index: 0;
  position: relative;         /* 기존 absolute 제거 */
}

#box_story a {
  color: #003e67;
  text-decoration-line: none;
}

#box_story h2 {
  color: rgb(241, 249, 255);
  font-size: 27px;
  margin-top: 30px;
}

#news_content {
  background-color: #ffffff63;
  margin: 20px auto;
  border-radius: 10px;
  padding: 10px;
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 12px; /* 뉴스 간 간격을 고르게 */
}

.news_item {
  display: flex;
  align-items: flex-start;
  gap: 15px;               /* 이미지와 텍스트 사이 간격 */
  font-size: 16px;
  line-height: 1.4;
  padding: 5px 20px;
}

.news_item img {
  flex-shrink: 0;           /* 이미지가 줄어들지 않게 */
  width: 80px;
  height: 50px;
  object-fit: cover;
  border-radius: 5px;
}

.news_item a {
  color: #003e67;
  text-decoration: none;
  font-weight: 500;
  margin: 0;
  padding: 0;
  display: inline-block;
  max-width: 100%;
  word-break: break-word;   /* 긴 링크 줄바꿈 허용 */
}



#fastmenu li {
  padding-right: 30px;
}

#main_fastmenu {
  width: 30%;
  min-width: 300px;
  font-weight: bold;
  position: relative;
}

#main_bottom {
  clear: both;
  background-color: #333333;
  color: white;
  text-align: center;
  padding: 1em 0px;
}

.bottom {
  display: inline;
  word-spacing: 100px;
}

.modal_wrap {
  display: none;
  width: 500px;
  height: 200px;
  position: absolute;
  top: 90%;
  left: 50%;
  margin: -250px 0 0 -250px;
  border: 7px solid #b4e1ff;
  background: #e9f6ff;
  font-weight: 600;
  border-radius: 20px;
  z-index: 2;
  text-align: center;
}

.modal_close {
  width: 26px;
  height: 26px;
  position: absolute;
  top: 3px;
  margin-right: 3px;

  right: 0;
  color: #000000;
}

.modal_close > a {
  display: block;
  width: 100%;
  height: 100%;
  background: url(https://img.icons8.com/metro/26/000000/close-window.png);
  text-indent: -9999px;
}

#aaa {
  color: #000000;
}
/* 여기까지 개발자 이름 */
.modal_wrap1 {
  display: none;
  width: 500px;
  height: 200px;
  position: absolute;
  top: 90%;
  left: 50%;
  margin: -250px 0 0 -250px;
  border: 7px solid #b4e1ff;
  background: #e9f6ff;
  font-weight: 600;
  border-radius: 20px;
  z-index: 2;
  text-align: center;
}

.modal_close1 {
  width: 26px;
  height: 26px;
  position: absolute;
  top: 3px;
  margin-right: 3px;
  right: 0;
  color: #000000;
}

.modal_close1 > a {
  display: block;
  width: 100%;
  height: 100%;
  background: url(https://img.icons8.com/metro/26/000000/close-window.png);
  text-indent: -9999px;
}
/* 여기까지 개발자 이메일 */

.modal_wrap2 {
  display: none;
  width: 500px;
  height: 200px;
  position: absolute;
  top: 90%;
  left: 50%;
  margin: -250px 0 0 -250px;
  font-weight: 600;
  border: 7px solid #b4e1ff;
  background: #e9f6ff;
  border-radius: 20px;
  z-index: 2;
  text-align: center;
}

.modal_close2 {
  width: 26px;
  height: 26px;
  position: absolute;
  top: 3px;
  margin-right: 3px;
  right: 0;
  color: #000000;
}

.modal_close2 > a {
  display: block;
  width: 100%;
  height: 100%;
  background: url(https://img.icons8.com/metro/26/000000/close-window.png);
  text-indent: -9999px;
}
/* 여기까지 이용약관 */
.modal_wrap3 {
  display: none;
  width: 500px;
  height: 200px;
  position: absolute;
  font-weight: 600;
  top: 90%;
  left: 50%;
  margin: -250px 0 0 -250px;
  border: 7px solid #b4e1ff;
  background: #e9f6ff;
  border-radius: 20px;
  z-index: 2;
  text-align: center;
}

.modal_close3 {
  width: 26px;
  height: 26px;
  position: absolute;
  top: 3px;
  margin-right: 3px;
  right: 0;
  color: #000000;
}

.modal_close3 > a {
  display: block;
  width: 100%;
  height: 100%;
  background: url(https://img.icons8.com/metro/26/000000/close-window.png);
  text-indent: -9999px;
}

/* 여기까지 개인정보처리방침 */


@media screen and (max-width: 900px) {
  #main_content {
    flex-direction: column;
    align-items: center;
  }

  #box_story,
  #main_fastmenu {
    width: 100%;
  }
}